<connectionStrings>
  <add name="DefaultConnection"
    connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=aspnet-Website2-ed50bc00-34cf-41b8-a5b5-686afacfec89;AttachDbFilename=|DataDirectory|\aspnet-Website2-ed50bc00-34cf-41b8-a5b5-686afacfec89.mdf;Integrated Security=SSPI"
    providerName="System.Data.SqlClient"/>
  <add name ="ChinookDB" connectionString ="Data Source =.;Intial Catalog = Chinook; Integrated Security = True"
       providerName="System.Data.SqlClient"/>
</connectionStrings>